  @import '../../styles/constants.scss';
  
  #error-email {
    color: var(--valdation-error);
    font-size: 14px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
  }
  #error-login{
    color: var(--valdation-error);
    font-size: 14px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
  }
  #error-name{
    color: var(--valdation-error);
    font-size: 14px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
  }
#error-second-name{
color: var(--valdation-error);
    font-size: 14px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
}
#error-phone{
color: var(--valdation-error);
    font-size: 14px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
}

