@import '../../styles/constants.scss';

.login-container {
  background-color: var(--main-color);
  font-size: 44px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 40px; 
  width: 400px;
  height: 500px; 
  margin: 150px auto 0; 
}

.login-title {
  width: 80%; 
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  display: block;
}

.login-link {
  text-align: center;
  margin-top: 130px;
  display: block;
}


