@import '../../styles/constants.scss';

.chat-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 98vh;
    border: 2px solid var(--black);
    border-radius: 5px;
}

.chat-chats {
    flex: 1;
    border-right: 2px solid var(--black);
    overflow-y: auto;
}

.chat-chat {
    display: flex;
    align-items: center;
    padding: 21px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat-chat:hover {
    background-color: var(--main-color);
}

.chat-chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-delete {
    margin-top: 10px; 
}

.chat-user {
    font-weight: bold;
}

.chat-message {
    color: var(--black);
}

.chat-message-item-hidden {
    display: none;
}

.chat-messages {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.chat-message-list {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-message-item {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.chat-message-received {
    background-color: var(--chat-color);
}

.chat-message-sent {
    background-color: var(--main-color);
    color: var(--white);
}

.chat-message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.chat-message-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.chat-message-input button {
    margin-left: 10px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat-message-input button:hover {
    background-color: var(--chat-button);
}

#chat-message-error {
  color: var(--valdation-error);
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
  position: absolute;
  top: 880px; 
  left: 640px;
}

  #chat-message-error.hidden {
    display: none;
  }

.home-user-link {
    color: var(--black); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 5px;
    margin-left: 100px;
}

.button-container {
    position: absolute;
    top: 20px; 
    right: 25px;
    display: flex;
}

.button-container-hidden {
    display: none;
}

.user-list {
    margin-right: 30px; /* Adjust the value as needed */
}

.add-button {
    margin-right: 20px;
    background-color: var(--chat-button);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-button {

    background-color: var(--valdation-error);
    color: var(--black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat-message-list {
    flex: 1;
    padding: 75px; 
    overflow-y: auto;
}

.delete-main-word {
    font-weight: bold;  
    text-align: center;  
    margin-top: 320px; 
    margin-right: 450px;
    font-size: 44px; 
}

