@import '../../styles/constants.scss';

.user-profile {
  background-color: var(--main-color);
  font-size: 44px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 40px;
  width: 400px;
  height: 700px;
  margin: 75px auto 0;
}

.user-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.user-name {
  font-size: 34px;
  margin: 10px 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin-top: 25px;
}

.user-detail {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  margin-left: 10px;
}

.user-actions {
  margin-top: 45px;
}

.edit-data,
.change-password,
.logout {
  margin-bottom: 10px;
  font-size: 36px;
  margin-top: 10px;
}

