  @import '../../styles/constants.scss';

  #error-message-Oldpassword {
    color: var(--valdation-error);
    font-size: 20px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
  }
  #error-message-Newpassword {
    color: var(--valdation-error);
    font-size: 20px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
  }
    #error-message-NewRepeatpassword {
    color: var(--valdation-error);
    font-size: 20px;
    display: block;
    margin-top: -22px;
    margin-bottom: 10px
  }
  span.hidden {
    display: none;
  }
