/* notfound.scss */

/* Стили для всей страницы */
.not-found-page {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Добавьте эту строку, чтобы элементы были расположены вертикально */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Стили для контейнера с содержимым */
.container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/* Стили для заголовка */
.not-found-title {
  font-size: 36px;
  color: #333;
  margin: 0;
}

/* Стили для кнопки "Refresh" */
.return-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; /* Добавьте отступ сверху */
}

.return-button:hover {
  background-color: #0056b3;
}
